{% extends 'public/base.html' %}

{% block content %}
<!--<div class="container-fluid">-->
	<!--<div class="row-fluid">-->
		<!--<div class="span12">-->
			<!--<div class="hero-unit">-->
				<!--<p>-->
					<!--{{article.title}}-->
				<!--</p>-->
				<!--{{article.content}}-->

			<!--</div>-->
		<!--</div>-->
	<!--</div>-->
<!--</div>-->

<div style="border: 1px solid gainsboro;background-color: lavender;">
<div class="container" style="margin-top:2rem;margin-bottom:2rem;">
		<div class="row clearfix">
			<div class="col-md-12 column">
				<h2>
					{{ article.title | safe}}
				</h2>
				<p>
					{{ article.content | safe}}
				</p>
			</div>

		</div>
</div>
</div>
{% endblock %}