{% extends 'public/base.html' %}

{% block content %}
<!--<div class="container-fluid">-->
	<!--<div class="row-fluid">-->
		<!--<div class="span12">-->
			<!--<div class="hero-unit">-->
				<!--<p>-->
					<!--{{article.title}}-->
				<!--</p>-->
				<!--{{article.content}}-->

			<!--</div>-->
		<!--</div>-->
	<!--</div>-->
<!--</div>-->

<div style="border: 1px solid gainsboro;background-color: lavender;">
<div class="container" style="margin-top:2rem;margin-bottom:2rem;">
		<div class="row clearfix">
			<div class="col-md-12 column">
				<h2>
					{{ article.title | safe}}
				</h2>
				<p>
					{{ article.content | safe}}
				</p>
			</div>

		</div>
</div>
</div>

<div class="container">
	<div class="row-fluid">
		<div class="span8">
			<form>
				<fieldset>
					<legend>评论</legend><input type="text" /> <label class="checkbox"><input type="checkbox" /> 勾选同意</label> <button id='comment_action' class="btn" type="submit">提交</button>
				</fieldset>
				<fieldset>
					<legend>评论列表</legend>
					<p>测试评论测试评论测试评论测试评论测试评论</p>
					<p>测试评论测试评论测试评论测试评论测试评论</p>
				</fieldset>
			</form>
		</div>
	</div>
</div>

<script>

	// 注册
	$('#comment_action').click(function () {
	    alert('发表评论');
	});
</script>
{% endblock %}