{% extends 'public/base.html' %}

{% block content %}
<!--<div class="container-fluid">-->
	<!--<div class="row-fluid">-->
		<!--<div class="span12">-->
			<!--<div class="hero-unit">-->
				<!--<p>-->
					<!--{{article.title}}-->
				<!--</p>-->
				<!--{{article.content}}-->

			<!--</div>-->
		<!--</div>-->
	<!--</div>-->
<!--</div>-->

<div class="container">
		<div class="row clearfix">
			<div class="col-md-12 column">
				<h2>
					{{ article.title}}
				</h2>
				<p>
					{{ article.content}}
				</p>
			</div>

		</div>
	</div>

{% endblock %}