<!doctype html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>
			刻刻的世界
		</title>
	<script src="http://how2j.cn/study/js/jquery/2.0.0/jquery.min.js"></script>
	<link rel="stylesheet" href="static/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	</head>

	<body>

	<nav class="navbar navbar-expand-lg navbar-light bg-light">
	  <a class="navbar-brand" href="#">Python小站</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
		  <li class="nav-item active">
			<a class="nav-link" href="#">php <span class="sr-only">(current)</span></a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="#">前端</a>
		  </li>
		  <li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			  其他
			</a>
			<div class="dropdown-menu" aria-labelledby="navbarDropdown">
			  <a class="dropdown-item" href="#">Linux</a>
			  <a class="dropdown-item" href="#">C++</a>
			  <div class="dropdown-divider"></div>
			  <a class="dropdown-item" href="#">Mysql</a>
			</div>
		  </li>
		  <li class="nav-item">
			<a class="nav-link disabled" href="#">简历</a>
		  </li>
			<button type="button" class="btn btn-primary btn-lg " data-toggle="modal"  data-target="#login">登陆</button>
		</ul>
		<form class="form-inline my-2 my-lg-0">
		  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
		  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
		</form>
	  </div>
	</nav>


	<div class="jumbotron">
	  <div class="container" align="center">
		  <h2 class="text-info" style="font-family:宋体;font-weight:bold;font-size:49px">Hello，World</h2>
		  <br>
		  <div class="text-muted">与世界分享我的知识</div>
		  <br>
		  <br>
		  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#register">
		 注册
		</button>
	  </div>
	</div>



	<blockquote class="blockquote text-center">
	  <p class="mb-0">爱上一个地方，就应该背上包去旅行，走得更远。</p>
	  <footer class="blockquote-footer">出自商务印书馆的 <cite title="Source Title">《新华字典》</cite></footer>
	</blockquote>

	<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog">
			<div class="modal-content">
			  <div class="modal-header">
				<button data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title"></h4>
			  </div>

				<form class="form-horizontal" role="form">
					<div class="form-group">
						<label for="username" class="col-sm-2 control-label">邮箱</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="username"
								   placeholder="请输入邮箱">
						</div>
					</div>
					<div class="form-group">
						<label for="password" class="col-sm-2 control-label">密码</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="password"
								   placeholder="请输入密码">
						</div>
					</div>


					  <div class="modal-footer">
						<button data-dismiss="modal" class="btn btn-default" type="button">关闭</button>
						<button class="btn btn-primary" type="button">登陆</button>
					  </div>
					</form>
			</div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
	</div>

	<div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog">
			<div class="modal-content">
			  <div class="modal-header">
				<button data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title"></h4>
			  </div>

				<form class="form-horizontal" role="form">
					<div class="form-group">
						<label for="email" class="col-sm-2 control-label">邮箱</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="email"
								   placeholder="请输入邮箱">
						</div>
					</div>
					<div class="form-group">
						<label for="user_name" class="col-sm-2 control-label">昵称</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="user_name"
								   placeholder="请输入用户名">
						</div>
					</div>
					<div class="form-group">
						<label for="pwd" class="col-sm-2 control-label">密码</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="pwd"
								   placeholder="请输入密码">
						</div>
					</div>


					  <div class="modal-footer">
						<button data-dismiss="modal" class="btn btn-default" type="button">关闭</button>
						<button class="btn btn-primary" type="button">注册</button>
					  </div>
					</form>
			</div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
	</div>

	<script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="static/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	</body>
</html>
