{% extends 'public/base.html' %}

{% block content %}
	<!-- 展示栏 -->
	<div class="jumbotron">
	  <div class="container" align="center">
		  <p style="color:red;font-size: 8px;">站点是过年前利用工作以外的业余时间建立的，内容还在完善中……</p>
		  <h2 class="text-info" style="font-family:宋体;font-weight:bold;font-size:49px">Hello，{% if user_data %}{% for item in user_data %}{{ item.name}}{% endfor %}{% else %}World{% endif %}

</h2>
		  <br>
		  <div class="text-muted">与世界分享你的知识</div>
		  <br>
		  <br>
		  {% if not is_login %}
		  <button type="button" id="button_login" class="btn btn-primary" data-toggle="modal" data-target="#login">
		 登录
		  </button>
		  {% endif %}
	  </div>
	</div>

	<!-- 中间文章内容 -->


	<div class="container">
		<div class="row clearfix">
			{% for article in article_data %}
			<div class="col-md-4 column">
				<h2>
					{{ article.title}}
				</h2>
				<p>
					{{ article.brief}}
				</p>
				<p>
					 <a class="btn" href="detail/?id={{ article.id }}">查看详情 »</a>
				</p>
			</div>
			{% endfor %}

		</div>
	</div>





	<!-- 登陆弹出框 -->
	<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog">
			<div class="modal-content">
			  <div class="modal-header">
				<button data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title"></h4>
			  </div>

				<form class="form-horizontal" role="form">
					<div class="form-group">
						<label for="username" class="col-sm-2 control-label">用户名</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="username"
								   placeholder="请输入用户名">
						</div>
					</div>
					<div class="form-group">
						<label for="password" class="col-sm-2 control-label">密码</label>
						<div class="col-sm-10">
							<input type="password" class="form-control" id="password"
								   placeholder="请输入密码">
						</div>
					</div>


					  <div class="modal-footer">
						<button data-dismiss="modal" class="btn btn-default" type="button">关闭</button>
						<button id="login_action" class="btn btn-primary" type="button">登陆</button>
					  </div>
					</form>
			</div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
	</div>

	<!-- 注册弹出框 -->
	<div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog">
			<div class="modal-content">
			  <div class="modal-header">
				<button data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title"></h4>
			  </div>

				<form class="form-horizontal" role="form" action="/add/" method="get">
					{% csrf_token %}
					<div class="form-group">
						<label for="email" class="col-sm-2 control-label">邮箱</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="email"
								   placeholder="请输入邮箱">
						</div>
					</div>
					<div class="form-group">
						<label for="user_name" class="col-sm-2 control-label">昵称</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="user_name"
								   placeholder="请输入用户名">
						</div>
					</div>
					<div class="form-group">
						<label for="pwd" class="col-sm-2 control-label">密码</label>
						<div class="col-sm-10">
							<input type="password" class="form-control" id="pwd"
								   placeholder="请输入密码">
						</div>
					</div>


					  <div class="modal-footer">
						<button data-dismiss="modal" class="btn btn-default" type="button" id="register_close">关闭</button>
						<button class="btn btn-primary" type="button" id="register_action">注册</button>
					  </div>
					</form>
			</div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
	</div>

<script>

	// 注册
	$('#register_action').click(function () {
			var token = $.cookie('csrftoken');
			var email = $('#email').val();
			var user_name = $('#user_name').val();
			var pwd = $('#pwd').val();
			if(!email){
			    alert("邮箱不能为空。");return;
			}
			if(!user_name){
			    alert("昵称不能为空。");return;
			}
			if(!pwd){
			    alert("密码不能为空。");return;
			}
	    	$.ajax({
				type: "POST",
				url: "action_register/",
				data: {email: email, user_name: user_name, pwd: pwd},
				dataType: "json",
				headers:{'X-CSRFToken': token},
				success: function (data) {
				    if(data.code == 1){
				        alert(data.msg);
//				        $('#button_register').hide();
//				        $('#button_login').hide();
//				        $('#register_close').click();
				        location.reload();
						return;
					}
					alert(data.msg);
                }
			})
    	}
	);

	// 登陆
	$('#login_action').click(function () {
	    	var token = $.cookie('csrftoken');
			var username = $('#username').val();
			var password = $('#password').val();
			if(!username){
			    alert("昵称不能为空。");return;
			}
			if(!pwd){
			    alert("密码不能为空。");return;
			}
	    	$.ajax({
				type: "POST",
				url: "action_login/",
				data: {user_name: username, password: password},
				dataType: "json",
				headers:{'X-CSRFToken': token},
				success: function (data) {
				    if(data.code == 1){
				        alert('登陆成功！用户名是：' + data.data.user_name);
//				        $('#button_register').hide();
//				        $('#button_login').hide();
						location.reload();
						return;
					}
					alert(data.msg);
                }
			})
    	});

	// 退出登陆
	$('#button_loginout').click(function () {
	    	$.get("action_login_out/", function(result){
					alert(result.msg);
					location.reload();
			  });
    	});
</script>
{% endblock %}
